/*-------------------------- Общие стили -----------------------*/

@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap');
@import url('../../public/fonts/rfdewi/stylesheet.css');
* {
    margin: 0;
    font-family: RFDewi, sans-serif;
    /*  */
    color: white;
}

.container {
    margin: 0 auto;
    width: 1360px;
}

li {
    list-style: none;
}

.btns {
    /* border: 1px solid white; */
    background-color: rgba(255, 255, 255, 0);
    color: white;
    height: 40px;
    cursor: pointer;
}

.maintitle {
    font-size: 54px;
    width: 380px;
    font-weight: 600;
    line-height: 1.1;
}

.mainsubtitle {
    font-size: 18px;
    line-height: 1.2;
}

.demo__subtitle {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
}

.wtsapp-btn {
    padding: 6px 10px;
    border: 0.1px solid white;
}

.save-btn {
    display: flex;
    align-items: center;
    /* margin-left: 44px; */
}

.save-btn img {
    padding-right: 15px;
}

.overlay {
    position: fixed;
    content: ' ';
    width: 100%;
    height: 100%;
    z-index: 1;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .7);
}

.modal__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    color: black;
}

.modal-subtitle {
    margin-bottom: 30px;
}

.modal {
    padding: 20px;
    width: 500px;
    margin: 0 auto;
    background-image: url('../../../public/img/modal-background.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 150%;
    position: fixed;
    top: 20%;
    left: 30%;
    color: black;
    border: 3px solid white;
    text-align: left;
}

.modal__body {
    display: flex;
    flex-direction: column;
}

.modal__body input {
    height: 40px;
    margin-bottom: 20px;
}

.send-btn {
    height: 40px;
    border: 1px solid white;
    width: 100%;
    font-size: 20px;
    cursor: pointer;
}

.close-btn {
    cursor: pointer;
}